<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      list-style: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body,
    html {
      height: 100vh;
    }
    header {
      padding: 2vh 2vw;
    }
    header div {
      display: flex;
      justify-content: space-between;
    }
    header div div {
      /* border: 1px solid red; */
      width: 60vh;
    }
    header ul {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      width: 80vh;
      margin: 0 auto;
      padding-top: 2vh;
    }
    main {
      padding: 2vh 2vw;
    }
    .container-imagens-categorias > div {
      border: 1px solid red;
    }
    .container-imagens-categorias {
      display: grid;
      grid-template-columns: 50% auto auto;
      grid-template-rows: auto auto;
      gap: 2vh 2vw;
    }
    .imagem1 {
      grid-row-start: 1;
      grid-row-end: 3;
      height: 70vh;
    }
    .imagem2 {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    footer {
      padding: 2vh 2vw;
    }
  </style>
  <title>Nome da Loja</title>
</head>
<body>
  <header>
    <div>
      <h1>Nome da Loja</h1>
      <div>
        <input type="text" name="" id="" placeholder="Pesquisar na loja">
        <input type="button" value="Minha Conta">
        <input type="button" value="Carrinho">
      </div>
    </div>
    <ul>
      <li>Home</li>
      <li>Loja</li>
      <li>Sobre nós</li>
      <li>Nossos contatos</li>
    </ul>
  </header>
  <hr>
  <main>
    <div class="container-imagens-categorias">
      <div class="imagem1"></div>
      <div class="imagem2"></div>
      <div class="imagem3"></div>
      <div class="imagem4"></div>
    </div>
    <h2>Novos Produtos</h2>
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 1">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 2">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 3">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 4">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 5">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 6">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 7">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 8">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 9">
    <img src="https://i.pinimg.com/564x/84/b6/c3/84b6c373e415e024b525ea5dc88dce72.jpg" alt="imagem 10">
  </main>
  <hr>
  <footer>
    <h4>Nome da Loja</h4>
    <ul>
      <li>WhatsApp: 11 9 8765-4321</li>
      <li>Instagram: Good Ganja</li>
      <li>FaceBook: Good Ganja</li>
    </ul>
  </footer>
  <hr>
</body>
</html>